# API Backend
NEXT_PUBLIC_API_URL=http://localhost:3001

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=ton_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ton_upload_preset
NEXT_PUBLIC_CLOUDINARY_DOCUMENTS_PRESET=ton_documents_preset